* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Satoshi', sans-serif;
}

.parallax-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.map-image{
    display: none;
    transition: .5s ease-in-out;
    overflow: hidden;
    height: 100vh;
    position: sticky;
    object-fit: cover;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.active{
    display:block ;
    transition: .5s ease-in-out;
}


.parallax-section p {
    position: absolute;
    width: 50vw;
    text-align: center;
    top: 50%;
    color: white;
    font-size: 20pt;
    /* Center the text vertically */
    transform: translateY(-50%);
    transform: translateX(50%);
    transition: top 0.5s ease;
    /* Smooth transition for text movement */
}

.parallax-section span{
    background-color: rgba(0, 0, 0, 0.7);
}
