* {
    margin: 0;
    padding: 0;
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

@media (max-width: 1090px){
    .parallax-section p {
        font-size: 26px !important;
    }

    h2{
        margin-top: 20vh;
    }

    .sec8-text{
        font-weight: 600 !important;
        color: black !important;
        padding: 1px;

    }
}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    border-radius: 20%;
  }
#back-to-top-btn{
    z-index: 10000;
    position: fixed;
    top: 90vh;
    left: 90vw;
    opacity: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    font-size: 30px;
    text-align: center;
    outline: 2px solid white;
    transition: 1s all ease-in;
}

.title-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin:20vw;

}

h2{
    font-size: 60px;
    font-weight: 400;
    color: white;
    text-align: center;
    z-index: 1000;
    text-shadow: 0 0 10px #000000;
}
.title span{
    /* background-color: rgba(54, 0, 217, 0.5); */
    padding: 1px 5px;
}

.sub-title span{
    /* background-color: rgba(54, 0, 217, 0.5); */
    padding: 1px 5px;
}


h3{
    font-size: 30px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 20px;
    z-index: 1000;
    text-shadow: 0 0 10px #000000;
}

body{
    font-family: 'Satoshi', sans-serif;
}
.parallax-wrapper{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* transform: translateY(-100vh); */
}

.parallax-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    scroll-snap-align: start;
}

.imgs-container{
    /* height: 100vh; */
    z-index: -10;
}

.heat-overlay-image{
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: fixed;
    object-fit: cover;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    height: 100vh;
}

.roof-overlay-image{
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: fixed;
    object-fit: cover;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    height: 100vh;
}


.pulse-container{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    top:0;
    left:0;
}

.pulse{
    position: relative;
    width: 400px;
    height:400px;
    border-radius: 50%;
    transition: opacity 2s ease-in-out;
    background: rgba(179, 16, 16, 0.6);
    opacity: 0;
}

.pulse span{
    position: absolute;
    width:100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    opacity:.5;
    animation: pulseAnimate 8s ease-out infinite;
    animation-delay: calc(1s * var(--i));
}

@keyframes pulseAnimate{
    100%{
        opacity: 0;
        transform:scale(7);
    }
}

.map-image{
    opacity: 0;
    transition: opacity 2s ease-in-out;
    overflow: hidden;
    height: 100vh;
    position: fixed;
    object-fit: cover;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.image1{
    opacity:1;
    /* filter: sepia(20%); */
    -webkit-filter: sepia(100%) hue-rotate(90deg) saturate(400%);
  filter: sepia(100%) hue-rotate(190deg) saturate(400%) brightness(60%);
    /* filter: brightness(50%); */
}
.active{
    opacity: 100% ;
    transition: 2s ease-in-out;
}


.parallax-section p {
    position: absolute;
    width: 50vw;
    text-align: center;
    top: 50%;
    color: white;
    font-size: 26pt;
    /* Center the text vertically */
    transform: translateY(-50%);
    transform: translateX(50%);
    transition: top 0.5s ease;
    /* Smooth transition for text movement */
}

.parallax-section span{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1px;
}

.sec8-text{
    position: absolute;
    width: 30vw;
    text-align: left;
    top: 40%;
    color: black;
    font-size: 20pt;
    transform: translateX(10%);
    transition: top 0.5s ease;
    background-color: transparent !important;
}

.rain-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    pointer-events: none;
    overflow: hidden;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.rain-overlay::before {
    content: '';
    position: fixed;
    width: 200%; /* Enough for overlap and smooth transition */
    height: 100%;
    top: 0;
    left: 0; /* Start with the overlay fully visible */
    background: repeating-linear-gradient(
        to top right,
        rgba(0, 0, 255, 0.2),
        rgba(0, 0, 255, 0.4) 25%,
        rgba(0, 0, 255, 0.2) 50%,
        rgba(0, 0, 255, 0.4) 75%,
        rgba(0, 0, 255, 0.2) 100%
    );
    background-size: 50% 100%;
    animation: moveRain 10s linear infinite;
}

@keyframes moveRain {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.white-bg{
    opacity:0;
}