* {
    margin: 0;
    padding: 0;
}

.parallax-section {
    position: relative;
    height: 100vh;
    /* Full height of the viewport */
    overflow: hidden;
}

.parallax-section img {
    overflow: hidden;
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    /* Ensure the image stays behind the text */
    transition: transform 0.5s ease;
    /* Smooth transition for parallax effect */
}

.parallax-section p {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    color: white;
    font-size: 48pt;
    /* Center the text vertically */
    transform: translateY(-50%);
    transition: top 0.5s ease;
    /* Smooth transition for text movement */
}